.gradle
.idea
.cxx
.externalNativeBuild
build
captures

._*
*.iml
.DS_Store
local.properties

#mac temp file
*/.idea/
*/__MACOSX
*/.DS_Store
.externalNativeBuild
import-summary.txt

#java files
*.class
*.dex


#for idea temp file
*.iws
*.ipr
*.iml
target/
.idea/
.gradle/


#for eclipse
.settings/
local.properties
*gen/
*.classpath
*/bin/
*/bin/


#temp file
*.bak

*.pmd
sh.exe.stackdump

.vs/
.vscode/

*.log
*.ctxt
.mtj.tmp/